{% extends "base.html" %}
{% block content %}
        <h1>Signup</h1>
        <form method='post'>
            <table>
                <tr>
                    <th align="left"><label for="username">Username</label></th>
                    <td>
                        <input name="username" type="text" value="{{username}}"/>
                        <span class="error">{{username_error}}</span>
                    </td>
                </tr>
                <tr>
                    <th align="left"><label for="password">Password</label></th>
                    <td>
                        <input name="password" type="password" value='{{password}}'/>
                        <span class="error">{{pw_error}}</span>
                    </td>
                </tr>
                <tr>
                    <th><label for="verify">Verify Password</label></th>
                    <td>
                        <input name="verify" type="password" value='{{verify_pass}}'/>
                        <span class="error">{{verify_error}}</span>
                    </td>
                </tr>
                <tr>
                    <th><label for="email">Email (optional)</label></th>
                    <td>
                        <input name="email" value="{{email}}"/>
                        <span class="error">{{email_error}}</span>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Submit"/>
        </form>
{% endblock %}